.static {
    position:absolute;
    background: white;
    
  }
  
  .static:hover {
    opacity:0;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img{

    max-height: 100%;
    max-width: 100%;
  }
  .wrapper{
    flex:1;
    justify-content: center;
    align-items: center;
  }

  .sectionText{
    border-width: 1;
    border-color:black;
    border-radius: 25px;
    border-style:solid;
    }

    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }